@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 0.75rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: 'Gill Sans';
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #7378c5;
}
